<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">

    <title>The HTML5 Herald</title>
    <meta name="description" content="The HTML5 Herald">
    <meta name="author" content="SitePoint">
    <link rel="stylesheet" type="text/css" href="main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <div id="container">
        <div id="folders">
            <span id="add-folder">+</span>
            <ul>
                <li>
                    <div>
                        <span>Inbox</span>
                        <span class="remaining-tasks">13</span>
                    </div>
                </li>
                <li>
                    <div>
                        <span>Work</span>
                        <span class="remaining-tasks">100</span>
                    </div>
                </li>
                <li>
                    <div>
                        <span>Grocery</span>
                        <span class="remaining-tasks">10</span>
                    </div>
                </li>
            </ul>
        </div>
        <div id="main">

            <div id="pusher">
                <form id="pusher-form">
                    <input class="pusher-input" placeholder="What do you want to do?" type="text" name="lname">
                    <i class="due-date fa fa-calendar-o"></i>
                    <br>
                </form>
            </div>
            <div id="lists">
                <ul>
                    <li>
                        <div>
                            <input type="checkbox" name="vehicle" value="Bike">
                            <span class="todos">Task one two three four</span>
                            <i class="due-date-inside-todo fa fa-calendar-o"></i>
                            <span class="due-date-text">02-04-2019</span>
                            <span class="time-left-for-task">~30m</span>
                        </div>
                    </li>
                    <li>
                        <div>
                            <input type="checkbox" name="vehicle" value="Bike">
                            <span class="todos">Task one two three four</span>
                            <i class="due-date-inside-todo fa fa-calendar-o"></i>
                            <span class="due-date-text">02-04-2019</span>
                            <span class="time-left-for-task">~30m</span>
                        </div>
                    </li>
                    <li>
                        <div>
                            <input type="checkbox" name="vehicle" value="Bike">
                            <span class="todos">Task one two three four</span>
                            <i class="due-date-inside-todo fa fa-calendar-o"></i>
                            <span class="due-date-text">02-04-2019</span>
                            <span class="time-left-for-task">~30m</span>
                        </div>
                    </li>
                    <li>
                        <div>
                            <input type="checkbox" name="vehicle" value="Bike">
                            <span class="todos">Task one two three four</span>
                            <i class="due-date-inside-todo fa fa-calendar-o"></i>
                            <span class="due-date-text">02-04-2019</span>
                            <span class="time-left-for-task">~30m</span>
                        </div>
                    </li>
                    <li>
                        <div>
                            <input type="checkbox" name="vehicle" value="Bike">
                            <span class="todos">Task one two three four</span>
                            <i class="due-date-inside-todo fa fa-calendar-o"></i>
                            <span class="due-date-text">02-04-2019</span>
                            <span class="time-left-for-task">~30m</span>
                        </div>
                    </li>


                </ul>
            </div>
        </div>
    </div>
</body>

</html>